<!-- header -->
<%- include('../layouts/Header.ejs') %>
<!-- navbar -->
<%- include('../layouts/Nav.ejs') %>
<div class="container my-5">
  <h1 class="text-center"> <%= owner.name %> </h1>
  <p class="text-center"> <%= owner.email %> </p>
  <hr/>
</div>
<!-- footer -->
    <%- include('../../bootstrap/bootstrapJs.ejs') %>
  </body>
</html>
